@{
    ViewData["Title"] = "Home Page";
}

<div class="card float-right">
    <div class="row">
        <div class="col-sm-5">
            <img class="d-block" src="https://picsum.photos/450/300?image=1072" alt="">
        </div>
        <div class="col-md-7 px-3">
            <div class="card-block px-6">
                <h4 class="card-title">Horizontal Card with Carousel - Bootstrap 4 </h4>
                <p class="card-text">
                    The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
                </p>
                <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                <br>
                <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
            </div>
        </div>

    </div>
</div>


    <div class="card float-right">
        <div class="row">
            <div class="col-sm-5">
            <img class="d-block" src="https://picsum.photos/450/300?image=855" alt="">
            </div>
        <div class="col-md-7 px-3">
            <div class="card-block px-6">
                <h4 class="card-title">Horizontal Card with Carousel - Bootstrap 4 </h4>
                <p class="card-text">
                    The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
                </p>
                <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                <br>
                <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
            </div>
        </div>

        </div>
    </div>

<div class="card float-right">
    <div class="row">
        <div class="col-sm-5">
            <img class="d-block" src="https://picsum.photos/450/300?image=355" alt="">
        </div>
        <div class="col-md-7 px-3">
            <div class="card-block px-6">
                <h4 class="card-title">Horizontal Card with Carousel - Bootstrap 4 </h4>
                <p class="card-text">
                    The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
                </p>
                <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p>
                <br>
                <a href="#" class="mt-auto btn btn-primary  ">Read More</a>
            </div>
        </div>

    </div>
</div>



<br>
<br>